# django
Django==5.0.7
django-cors-headers==4.4.0
django-environ==0.11.2
django-filter==24.2
django-cleanup==8.1.0
django-templated-mail==1.1.1
django-cloudinary-storage==0.3.0
django-celery-email==3.0.0
django-modeltranslation==0.19.5
django-pickling==1.0
django-redis==5.4.0
django-cacheops==7.0.2
django-countries==7.6.1
django-money==3.5.2
django-celery-beat==2.6.0
django-svg-image-form-field==1.0.1
django-uuslug==2.0.0
django-advanced-password-validation==1.2.0
social-auth-app-django==5.4.1
django-admin-interface==0.28.8

# drf
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
drf-spectacular==0.27.2
drf_base64==2.0
djangochannelsrestframework==1.2.0

# misc
channels==4.1.0
channels-redis==4.2.0
orjson==3.10.6
psycopg==3.2.1
redis==5.0.7
Pillow==10.4.0
celery==5.4.0
gevent==24.2.1
argon2-cffi==23.1.0
pydantic[email]==2.8.2
py-moneyed==2.0
requests==2.32.3
toml==0.10.2
tablib[xlsx]==3.6.1
python-dateutil==2.9.0.post0
pybase64==1.3.2
google-api-python-client==2.136.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0

# test
parameterized==0.9.0
factory_boy==3.3.0
Faker==26.0.0
coverage==7.5.4

# dev
django-debug-toolbar==4.4.6

# deploy
daphne==4.1.2
Twisted[http2]==24.3.0
gunicorn==22.0.0
asgiref==3.8.1
whitenoise==6.7.0
certifi==2024.7.4
sentry-sdk==2.8.0
