name: "Call: release draft"

on:
  workflow_call:
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-22.04
    steps:
      - uses: release-drafter/release-drafter@v5.25.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
